[user]
	email = michalikblazej95@gmail.com
	name = Błażej Michalik
[core]
	editor = vim
[credential]
	helper = cache
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[merge]
	tool = splice
[mergetool "splice"]
	cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
	trustExitCode = true	tool = vimdiff
[mergetool]
	prompt = false
