[user]
	email = blazej.michalik@nokia.com
	name = Michalik Błażej
[core]
	editor = vim
[credential]
	helper = cache
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[merge]
	tool = diffconflicts
[mergetool]
	prompt = false
